@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

body {
  background: #333;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: all .5s ease;
}

h1 {
  text-align: center;
}

a {
  color: #ff9df5;
  text-align: center;
  display: block;
  padding-bottom: 20px;
  text-decoration: none;
  opacity: .15;
  &:hover {
    opacity: .7;
  }
}

button:focus {
  outline:none;
  cursor: pointer;
}

.Carousel {

  position: relative;

  &-Holder {
    margin: 40px;
  }

  &-Content {
    height: 450px;
    overflow: hidden;
    background: #565656;
    box-shadow: 0 0 12px 6px rgba(30, 30, 30, 0.5);
  }

  &-Item {
    text-align: center;
    height: 100%;
    display: none;

    &.active {
      display: block;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }


  &-Navigation {

    button {
      position: absolute;
      top: 40%;
      transform: translateY(-40%);
      font-size: 38px;

      border: none;
      background: #fff;
      color: #333;
    }

    .left {
      left: 0;
    }

    .right {
      right: 0;
    }

  }

  &-Dots {
    text-align: center;
    padding: 40px 0;
  }

  &-Dot {
    border: none;
    background: #fff;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin: 0 5px;
    &.active {
      background: #ff9df5;
    }
    &:hover {
      background: lighten(#ff9df5, 50%);
    }
  }

  .HtmlContent {
    padding: 40px 80px;
    img {
      width: 200px;
      height: auto;
    }
  }
}
